<div id="footercolumn" class="site_template_column footer_column">
    <div class="footer_address col-xs-12 col-md-3">
        <p>
            <a href="https://www.peoriaaz.gov/i-want-to/contact-the-city" target="_self">City of Peoria<br />8401 W.
                Monroe St.<br />Peoria, AZ 85345</a>
        </p>
    </div>
    <div class="footer_contact col-xs-12 col-md-3">
        <p>
            <a href="https://www.peoriaaz.gov/i-want-to/contact-the-city" target="_self">Contact Us<br />(623)
                773-7436<br /></a>
        </p>
        <p>
            <a href="mailto:business@peoriaaz.gov">business@peoriaaz.gov</a>.<br>
        </p>
        <!-- <p>
            <a href="https://www.peoriaaz.gov/?splash=https%3a%2f%2fmy.adp.com%2f&amp;____isexternal=true"
                target="_blank">Employee Login</a>
        </p> -->
    </div>

    <div class="social_icons col-xs-12 col-md-6">
        <p>
            <a href="https://www.peoriaaz.gov/?splash=https%3a%2f%2ftwitter.com%2fpeoriaaz&amp;____isexternal=true"
                target="_blank" title="Follow us on Twitter!">
                <img src="https://www.peoriaaz.gov/Home/ShowPublishedImage/296/637063185536370000" alt="twitter" />
            </a>
            <a href="https://www.peoriaaz.gov/?splash=https%3a%2f%2fwww.facebook.com%2fCityofPeoriaAz%2f&amp;____isexternal=true"
                target="_blank" title="Like us on Facebook!">
                <img src="https://www.peoriaaz.gov/Home/ShowPublishedImage/298/636148110419330000" alt="facebook" />
            </a>
            <a href="https://www.peoriaaz.gov/?splash=https%3a%2f%2fwww.instagram.com%2fpeoriaazcam%2f&amp;____isexternal=true"
                target="_blank" title="Follow us on Instagram!">
                <img src="https://www.peoriaaz.gov/Home/ShowPublishedImage/306/636148110423700000" alt="instagram" />
            </a>
            <a href="https://www.peoriaaz.gov/?splash=https%3a%2f%2fwww.youtube.com%2fuser%2fPeoriaChannel11AZ&amp;____isexternal=true"
                target="_blank" title="Watch us on YouTube">
                <img src="https://www.peoriaaz.gov/Home/ShowPublishedImage/302/636148110421370000" alt="youtube" />
            </a>
            <a href="https://www.peoriaaz.gov/?splash=https%3a%2f%2fnextdoor.com%2f&amp;____isexternal=true"
                target="_blank" title="Follow us on NextDoor!">
                <img src="https://www.peoriaaz.gov/Home/ShowPublishedImage/304/636148110422430000" alt="nextdoor" />
            </a>
        </p>

    </div>
</div>
<!-- <div class="footer_nav">
    <a href="https://www.peoriaaz.gov/" target="_self">Home</a>
    <a href="https://www.peoriaaz.gov/government/departments/human-resources/employment" target="_self">Employment</a>
    <a href="https://www.peoriaaz.gov/government/americans-with-disabilities-act-ada" target="_self">Accessibility</a>
    <a href="https://www.peoriaaz.gov/services/advanced-components/misc-pages/privacy-policy" target="_self">Privacy
        Policy / Terms of Use</a>
    <a href="https://www.peoriaaz.gov/residents/advanced-components/site-map" target="_self">Sitemap</a>
    <a href="https://www.peoriaaz.gov/residents/advanced-components/site-specific-pages/contact-us" target="_self">Contact Us</a>
</div> -->

<div class="mag-footer">

    <span>Copyright&nbsp;&copy;&nbsp;<span class="copyright"></span>&nbsp;City of Peoria & MAG</span>&nbsp;|&nbsp;

    <span class="version"></span>&nbsp;|&nbsp;
    <a class="modal-anchor" data-toggle="modal" data-target="#modalPrivacy" title="Privacy">Privacy</a>&nbsp;|&nbsp;
    <a class="modal-anchor" data-toggle="modal" data-target="#modalTerms" title="Terms">Terms</a>&nbsp;|&nbsp;
    <a class="modal-anchor" data-toggle="modal" data-target="#modalLegal" title="Legal Disclaimer">Legal Disclaimer</a>

</div>
