<div id="controls">
    <ul class="fieldlist">
        <li>
            <input type="checkbox" id="cboxTakeOut" class="filterControl k-checkbox">
            <label class="k-checkbox-label" for="cboxTakeOut">Take out</label>
        </li>
        <li>
            <input type="checkbox" id="cboxDelivery" class="filterControl k-checkbox">
            <label class="k-checkbox-label" for="cboxDelivery">Delivery</label>
        </li>
        <li>
            <input type="checkbox" id="cboxApp" class="filterControl k-checkbox">
            <label class="k-checkbox-label" for="cboxApp">Mobile App</label>
        </li>
    </ul>
</div>
<div class="mapTableContainer">

    <div id="listContainer">
        <div id="cardsListContainer">
            <div id="cardsList"></div>
        </div>
    </div>

    <div id="mapView"></div>
</div>
