<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Mapping Tool Help</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>
                Peoria is the place provides information about businesses across the city of Peoria to help you find what businesses are open, and how they are serving customers during the COVID-19 crisis.
            </p>
            <p>
                Options for finding businesses:
            </p>
            <p>
                The blue dots on the map are business locations. Click or tap on a dot to see current information about that business
            </p>
            <div class="info-pic-div"><img class="info-pics" src="images/info-pics/info1.png" alt="help info pic 1"></div>
            <p>
                To find a specific business, use the Select a Business drop down menu to find an alphabetical list of businesses in the city
            </p>
            <div class="info-pic-div"><img class="info-pics" src="images/info-pics/info2.png" alt="help info pic 2"></div>
            <p>
                Click on a business in the list on the left-hand side to see information about that business and zoom the map to the businesses location.
            </p>
            <div class="info-pic-div"><img class="info-pics" src="images/info-pics/info3.png" alt="help info pic 3"></div>
            <p>
                To limit the map and the list to just certain types of businesses, use the Select a Category dropdown list and choose the category you’re interested in.
            </p>
            <div class="info-pic-div"><img class="info-pics" src="images/info-pics/info4.png" alt="help info pic 4"></div>
            <p>
                To limit the map and list to just businesses offering certain types of service, click the checkboxes to select Take Out, Delivery or Mobile App
            </p>
            <div class="info-pic-div"><img class="info-pics" src="images/info-pics/info5.png" alt="help info pic 5"></div>
            <p>
                If you see that a business location is missing from the map, you can add it by clicking on Add Missing Location
            </p>
            <div class="info-pic-div"><img class="info-pics" src="images/info-pics/info6.png" alt="help info pic 6"></div>
            <p>
                After you click on Add Missing Location, you’ll be asked to click on the missing businesses location on the map
            </p>
            <div class="info-pic-div"><img class="info-pics" src="images/info-pics/info7.png" alt="help info pic 7"></div>
            <p>
                Once you click on the location, you can input whatever information you know about the business on the Add Missing Business form box
            </p>
            <div class="info-pic-div"><img class="info-pics" src="images/info-pics/info8.png" alt="help info pic 8"></div>
            <p>
                You can also edit information about a business if you see something wrong by clicking on the blue edit button on the businesses information box
            </p>
            <div class="info-pic-div"><img class="info-pics" src="images/info-pics/info9.png" alt="help info pic 9"></div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
