/*******************
 Dropdowns
********************/

#bizControls {
    display: flex;
    padding: 15px;
}

#bizDropDown {
    width: 350px;
    margin-right: 25px;
}

#catDropDown {
    width: 210px;
}
