/*******************
 Footer
********************/

#footercolumn {
  // width: 730px;
  // max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  #footercolumn {
    width: 1024px;
    max-width: 1024px;
  }
}

#page_footer #footercolumn .footer_seal {
  float: left;
  height: 192px;
  display: table;
  padding: 0;
  width: 100%;
  text-align: center;
}

.mainSpan_wrapper_home #page_footer {
  display: none;
}

#page_footer {
  padding: 30px 10px 10px 10px;
  font-size: 82%;
  display: block;
  background: #35322b;
}

#page_footer #footercolumn {
  color: #000;
  display: block;
  // margin-left: 20%;
}

#page_footer #footercolumn .footer_address,
#page_footer #footercolumn .footer_contact {
  padding-top: 110px;
  width: 200px;
  float: none;
  margin: 0 auto 30px;
}

#page_footer #footercolumn .footer_address p,
#page_footer #footercolumn .footer_contact p {
  font-size: 14px;
  text-align: center;
}

#page_footer #footercolumn .footer_address {
  background: url($footer_location_URL) no-repeat center top;
}

#page_footer #footercolumn .footer_contact {
  background: url($footer_phone_URL) no-repeat center top;
}

#page_footer #footercolumn .footer_copyright {
  color: #cdbd96;
  font-size: 12px;
  text-align: center;
}

#page_footer #footercolumn .footer_copyright a {
  color: #fff;
  margin: 0;
}

#page_footer .footer_nav {
  margin: 0 auto 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 1.75;
  font-size: 14px;
}

#page_footer .footer_nav a {
  white-space: nowrap;
  margin: 0 6px;
  letter-spacing: 0.2px;
}

#page_footer .footer_nav a:after {
  content: "|";
  margin-left: 16px;
}

#page_footer .footer_nav a:last-child:after {
  display: none;
}

#page_footer .footer_copyright {
  margin-bottom: 10px;
}

#page_footer p {
  margin: 0;
  clear: both;
}

#page_footer a {
  color: #fff;
  text-decoration: none;
}

.footer_buttons {
  display: none;
}

.footer_buttons ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 195px;
  margin: 26px 0 14px;
}

.footer_buttons ul li {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 48em) {
  .mainSpan_wrapper_home #page_footer {
    display: block;
  }

  .footer_buttons {
    display: block;
  }

  #page_footer {
    clear: both;
    min-height: 132px;
    font-size: 100%;
    background: #35322b;
    padding: 0;
    margin: 0;
    position: relative;
    display: block;
  }

  #page_footer .footer_nav {
    width: 60%;
    margin: 0 auto;
    position: relative;
    bottom: 23px;
  }

  // #page_footer:before {
  //   content: "";
  //   top: auto;
  //   left: 0;
  //   position: absolute;
  //   right: 0;
  //   bottom: 0;
  //   z-index: -1;
  //   width: 100%;
  //   height: 40px;
  //   /* background: #282622; */
  //   z-index: 0;
  // }

  #page_footer a {
    margin: 0;
  }

  #page_footer #footercolumn {
    margin: 0 auto;
    position: relative;
    padding: 0;
    min-height: 232px;
    // margin-left: 20%;
  }

  #page_footer #footercolumn .footer_address {
    float: left;
    width: 50%;
    min-height: 192px;
    background: url($footer_location_URL) left 12px center no-repeat;
    padding: 0;
    background-size: auto auto;
    max-width: 100%;
    margin: 0;
    // left: -10%;
  }

  #page_footer #footercolumn .footer_address p {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.2px;
    line-height: 18px;
    text-align: left;
    padding: 80px 0 0 102px;
  }

  #page_footer #footercolumn .footer_contact {
    float: left;
    width: 50%;
    min-height: 192px;
    background: url($footer_phone_URL) 29px center no-repeat;
    padding: 0;
    background-size: auto auto;
    max-width: 100%;
    margin: 0;
  }

  #page_footer #footercolumn .footer_contact p {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.2px;
    line-height: 18px;
    text-align: left;
    padding: 80px 0 0 123px;
  }

  #page_footer #footercolumn .footer_contact p:last-child {
    padding-top: 0;
  }

  #page_footer #footercolumn .footer_contact p a {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.2px;
  }

  #page_footer #footercolumn .footer_copyright {
    display: block;
    font-size: 12px;
    font-weight: normal;
    color: #cdbd96;
    letter-spacing: 0.2px;
    line-height: 40px;
    text-align: center;
    margin: 12px 0 0;
  }

  #page_footer #footercolumn .footer_copyright a {
    color: #fff;
    font-weight: bold;
  }

  #page_footer #footercolumn .footer_copyright a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 800px) {
  #page_footer {
    padding-top: 5px;
  }
}

@media only screen and (min-width: 62em) {
  #page_footer #footercolumn .footer_address {
    width: 27.3%;
  }

  #page_footer #footercolumn .footer_contact {
    width: 27.3%;
  }

  #page_footer .footer_nav {
    width: 100%;
  }
}

.mobile_home_footer {
  background: #35322b;
  text-align: center;
  display: block;
  color: #fff;
  min-height: 83px;
  margin-top: 48px;
  letter-spacing: 0.2px;
  padding: 5px 0 20px 0;
  font-weight: 500;
}

.mobile_home_footer a {
  color: #fff !important;
  display: inline-block;
  font-size: 13px;
  line-height: 40px;
  text-decoration: none !important;
  width: auto;
  max-width: unset;
  margin: 0 14px;
}

.mobile_home_footer a:hover {
  text-decoration: underline !important;
}

.mobile_home_footer a:last-child {
  width: 100%;
  max-width: 122px;
  background: url($footer_mobile_URL) no-repeat left;
  padding-left: 27px;
  clear: both;
  display: block;
  margin: 0 auto;
}

#page_footer {
  .mag-footer {
    font-size: 11px;
    color: $text-alt;
    text-align: center;
    margin-bottom: 10px;

    a {
      color: $text-alt;
      cursor: pointer;
    }
  }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  #footercolumn {
    display: none !important;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}
