/*******************
 Header
********************/

#siteheader {
  display: flex;
  background: white;
  a#home_link {
    background: url($header_logo_URL) center center no-repeat !important;
    height: 115px;
    margin-left: 10%;
    width: 375px;
  }
}

@media (min-width: 48em) {
  .jumbotron {
    padding: 4rem 2rem;
    font-size: medium;
    font-weight: 700;
  }
}

@media (max-width: 800px) {
  #home_link {
    margin-left: 0;
    margin: auto !important;
  }
}

.jumbotron {
  padding: 1rem 1rem;
  margin-bottom: 0;
  color: $text-white;
  background-color: $peoria-accent;
  border-radius: 0;
  text-align: center;
  font-size: large;
  font-weight: 700;
}
