/*******************
 Map
********************/
.main-content {
  background-color: $main-background;
}

#mapView {
  flex: 2;
  padding: 0;
  margin: 0;
  height: 500px;
  width: 500px;
}

.mapTableContainer {
  display: flex;
  // width: 80vw;
  margin: 0 0 0 15px;
  // padding: 10px;
  justify-content: space-between;
}

#listContainer {
  flex: 1.5;
  font-size: 12px;

  h4 {
    text-align: center;
  }

  #cardsListContainer {
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #cardsList {
    .card {
      margin-right: 2px;

      &:hover {
        background-color: lighten(lightgray, 10%);
        cursor: pointer;
      }
    }
  }
}

#controls {
  background-color: lighten($peoria-main, 10%);
  padding-top: 35px;
  padding-top: 30px;
  // width: 70vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .fieldlist {
    display: flex;
    list-style: none;

    li {
      margin-left: 20px;
    }
  }
}

<<<<<<< HEAD
=======
#mapView {
  flex: 2;
}
>>>>>>> 181ffaa480762940fc33ac86c563c6c61a0e734e
.horizontalIconContainer {
  display: flex;

  .horizontalIcon {
    flex: 1;
  }
}
