/*******************
 SASS Popups
********************/

.esri-view-width-less-than-medium .esri-popup__main-container {
    width: auto;
    max-width: 400px;
}

.esri-popup__main-container .esri-widget {
    font-size: 12px;

    span {
        line-height: 1.7;
    }
}

.esri-popup__header-title {
    font-size: 14px;
    background-color: $peoria-main;
    color: $text-white;

    &:hover {
        background-color: lighten($peoria-main, 20%);
    }
}





// css for home and zoom buttons
.esri-widget--button {
    background-color: $peoria-main;
    color: $widget_con;

    &:hover {
        background-color: lighten($peoria-main, 20%);
        color: $close-hover;
        // border: 1px solid #001833;
    }

    &.esri-widget.esri-disabled {
        background-color: $widget_con;
    }
}
