/****************
* SASS Assets
*****************/

$header_strip_URL: "https://www.peoriaaz.gov/Project/Contents/Main/_gfx/cmn/mobile/mob_header_bg.png";
$header_txt_image_URL: "https://www.peoriaaz.gov/Project/Contents/Main/_gfx/cmn/header_txt_img.png";
$header_logo_URL: "https://www.peoriaed.com/Project/Contents/EconDev/_gfx/cmn/logo.png";

$footer_location_URL: "https://www.peoriaaz.gov/Project/Contents/Main/_gfx/cmn/location_icon.png";
$footer_phone_URL: "https://www.peoriaaz.gov/Project/Contents/Main/_gfx/cmn/phone_icon.png";

$footer_mobile_URL: "https://www.peoriaaz.gov/Project/Contents/Main/_gfx/cmn/mobile/phone_mobile.png";

$footer_peoria_seal_URL: "https: //www.peoriaed.com/Home/ShowPublishedImage/418/636203561536870000";
